<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.blog.xo.mapper.sysParams.SysParamsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alex.blog.common.entity.sys.SysParams">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleter" property="deleter" />
        <result column="delete_time" property="deleteTime" />
        <result column="is_delete" property="isDelete" />
        <result column="params_type" property="paramsType" />
        <result column="params_name" property="paramsName" />
        <result column="params_key" property="paramsKey" />
        <result column="remark" property="remark" />
        <result column="params_value" property="paramsValue" />
        <result column="status" property="status" />
        <result column="operator" property="operator" />
        <result column="operate_time" property="operateTime" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        updater,
        update_time,
        deleter,
        delete_time,
        is_delete,
        params_type, params_name, params_key, remark, params_value, `status`, operator, operate_time, sort
    </sql>

</mapper>
