<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.blog.xo.mapper.sys.WebVisitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alex.blog.common.entity.sys.WebVisit">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleter" property="deleter" />
        <result column="delete_time" property="deleteTime" />
        <result column="is_delete" property="isDelete" />
        <result column="operator" property="operator" />
        <result column="operate_time" property="operateTime" />
        <result column="admin_id" property="adminId" />
        <result column="ip" property="ip" />
        <result column="behavior" property="behavior" />
        <result column="module_id" property="moduleId" />
        <result column="other_data" property="otherData" />
        <result column="status" property="status" />
        <result column="os" property="os" />
        <result column="browser" property="browser" />
        <result column="ip_source" property="ipSource" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        create_time,
        updater,
        update_time,
        deleter,
        delete_time,
        is_delete,
        operator,
        operate_time,
        admin_id, ip, behavior, module_id, other_data, `status`, os, browser, ip_source
    </sql>

    <select id="getIpCount" resultType="java.lang.Integer">
        select count(distinct ip) from alex_blog.t_web_visit where is_delete = 0 and status = '1'
        and operate_time between ${startTime} and ${endTime}
    </select>

    <select id="getPvByWeek" resultType="java.lang.Integer">
        PREPARE s1 FROM '
            select aa.date, count(t_web_visit.id) as num from
            (SELECT date_format( adddate( ${startTime}, @num := @num + 1 ), \'%Y-%m-%d\' ) date
            FROM t_web_visit t_web_visit, ( SELECT @num :=- 1 ) num LIMIT ?) aa
            left join t_web_visit t_web_visit
            on DATE_FORMAT(t_web_visit.operate_time, \'%Y-%m-%d\') = aa.date
            and t_web_visit.is_delete = 0 and status = \'1\'
            group by aa.date order by aa.date';
        set @_limit= DATEDIFF( ${endTime}, ${startTime} ) + 1;
        EXECUTE s1 USING @_limit;
    </select>

    <select id="getUvByWeek" resultType="java.lang.Integer">
        PREPARE s1 FROM '
            select aa.date, count(distinct t_web_visit.admin_id) as num from
            (SELECT date_format( adddate( ${startTime}, @num := @num + 1 ), \'%Y-%m-%d\' ) date
            FROM t_web_visit t_web_visit, ( SELECT @num :=- 1 ) num LIMIT ?) aa
            left join t_web_visit t_web_visit
            on DATE_FORMAT(t_web_visit.operate_time, \'%Y-%m-%d\') = aa.date
            and t_web_visit.is_delete = 0 and status = \'1\'
            group by aa.date order by aa.date';
        set @_limit= DATEDIFF( ${endTime}, ${startTime} ) + 1;
        EXECUTE s1 USING @_limit;
    </select>
</mapper>
